table tr:hover {
  background-color: var(--border);
}
.dark table tr:hover {
  background-color: rgba(255, 255, 255, 0.08);
}
input,
textarea {
  transition: 0.15s;
}
input:focus,
textarea:focus {
  outline: 2px solid var(--primary);
  outline-offset: 1px;
}
