.qc-dark {
  background: #091c38;
  color: white;
  position: relative;
  overflow: hidden;
  padding: 80px 0;
}
.qc-bg-left,
.qc-bg-right {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 35%;
  background-size: cover;
  background-position: center;
  opacity: 0.16;
}
.qc-bg-left {
  left: 0;
}
.qc-bg-right {
  right: 0;
}
.qc-number-image {
  font-size: clamp(4rem, 10vw, 9rem);
  font-weight: 900;
  background-size: cover;
  background-position: center;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  line-height: 0.85;
  opacity: 0.6;
  user-select: none;
}
